@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(120deg, rgb(139, 100, 100), rgb(197, 40, 40));
    color: white;
}

header {
  padding: 2rem 1rem; 
  max-width: 800px;
  width: 100%;
  margin: 0 auto; 
}

header h1 {
    font-size: 2.75rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1rem;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#new-task-form{
    display: flex;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.input-hide {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.input-checkbox {
    margin-top: 0.25rem;
    margin-right: 1rem;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}

.input-checkbox:checked {
        accent-color: #9d3039;
}


#new-task-input{
    flex: 1 1 0%;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 1rem;
    text-align: center;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    /*padding: 1rem;*/
}

#new-task-submit {
    font-size: 1.5rem;
    font-weight: 500;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(221, 221, 221));    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.55;
}

#new-task-submit:active {
    opacity: 0.2;
}

main{
    flex: 1 1 0%;
    padding: 1.5rem 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 2.2rem;
    font-weight: 500;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.877);
    padding: 1.25rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    font-size: 1.125rem;
    font-weight: 500;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    opacity: 0.4;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
}

.task .actions button:hover {
    opacity: 0.7;
}

.task .actions button:active {
    opacity: 0.35;
    color: rgb(133, 0, 0);
}

.checked {
    text-decoration: line-through;
    text-decoration-color: #9d3039;
    text-decoration-thickness: 25%;
}

